BODY {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ebebeb;
}

.item-container {
	width:90%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:1em;
}

.flex-options {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
}

.element-container {
	white-space: nowrap;
}

legend, label {
	font-size: 1em;
}

label {
	cursor: pointer;
}

legend code, label code {
	font-size: 1.4em;
	font-weight: bold;
}

fieldset {
	margin-bottom: 1.5em;
}

.flex-container {
	display:flex;
	background-color: #fff;
	border: 6px solid #000000;
}

.flex-item {
	font-size: 4em;
	font-weight: bold;
	border: 3px solid #bababa;
}

.item-1 {
	color: red;
}

.item-2 {
	color: orange;
}

.item-3 {
	color: gold;
	font-size: 5em;
}

.item-4 {
	color: green;
}

.item-5 {
	color: lightskyblue;
}

.item-6 {
	color: blue;
}

.item-7 {
	color: purple;
	font-size: 3em;
}

.item-1 .size-emulator {
	width: 100px;
	height: 100px;
}

.item-2 .size-emulator {
	width: 120px;
	height: 120px;
}

.item-3 .size-emulator {
	width: 140px;
	height: 140px;
}

.item-4 .size-emulator {
	width: 80px;
	height: 80px;
}

.item-5 .size-emulator {
	width: 80px;
	height: 100px;
}

.item-6 .size-emulator {
	width: 60px;
	height: 140px;
}

.item-7 .size-emulator {
	width: 100px;
	height: 100px;
}